<h1>Question#ask</h1>
<p>Find me in app/views/question/ask.html.erb</p>

<h3>Ask your coach;</h3>
<form action="answer">
  <input type="text" name="message">
  <input type="submit" value="Ask!">
</form>